.add-btn {
  background-color: #e64245;
  color: white;
}
.edit-btn {
  margin: 5px 10px;
}
.edit-item {
  background-color: white;
  align-items: center;
  width: 40em;
  padding: 3% 5%;
  margin-top: 2%;
}
.add-modifier-btn{
  margin: 4px 0 ;
}